:host {
    /* container variables*/
    --imageURL: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    --imageMinHeight: 300px;
    --imageBackgroundPosition: center;
    --textBlockPositionTop: 10%;
    --textBlockPositionLeft: 30%;
    --textBlockInternalAlignment: left;
    --textBlockWidth: auto;

    /* tagline variables*/
    --taglineMargin: 0px 0px 5px 0px;
    --taglineFontSize: 0.813rem;
    --taglineLineHeight: 1;
    --taglineTextColor: black;
    --taglineBackgroundColor: rgba(0,0,0,0);
    --taglineLetterSpacing: 0px;
    --taglineFontWeight: normal;
    --taglineFontStyle: normal;

    /* title variables*/
    --titleMargin: 0px 0px 5px 0px;
    --titleFontSize: 1.75rem;
    --titleLineHeight: 1.25;
    --titleTextColor: black;
    --titleBackgroundColor: rgba(0,0,0,0);
    --titleLetterSpacing: 0px;
    --titleFontWeight: normal;
    --titleFontStyle: normal;

    /* subtitle variables*/
    --subTitleMargin: 0px 0px 15px 0px;
    --subTitleFontSize: 0.813rem;
    --subTitleLineHeight: 1.00;
    --subTitleTextColor: black;
    --subTitleBackgroundColor: rgba(0,0,0,0);
    --subTitleLetterSpacing: 0px;
    --subTitleFontWeight: normal;
    --subTitleFontStyle: normal;

    /* button variables*/
    --buttonPadding: 5px 24px;
    --buttonMargin: 0px;
    --buttonBackgroundColor: #00a3af;
    --buttonBorderColor: #00a3af;
    --buttonTextColor: #ffffff;
    --buttonBorderRadius: 3px;
    --buttonLetterSpacing: 0px;
    --buttonFontSize: 16px;
    --buttonFontStyle: normal;
    --buttonLineHeight: 1.5;
    --buttonHeight: 40px;

    /* button2 variables*/
    --button2Padding: 5px 24px;
    --button2Margin: 0px 0px 0px 10px;
    --button2BackgroundColor: rgba(0,0,0,0);
    --button2BorderColor: #00a3af;
    --button2TextColor: #00a3af;
    --button2BorderRadius: 3px;
    --button2LetterSpacing: 0px;
    --button2FontSize: 16px;
    --button2FontStyle: normal;
    --button2LineHeight: 1.5;
    --button2Height: 40px;
}
.enclosingDiv {
    background-image: var(--imageURL);
    min-height: var(--imageMinHeight);
    background-position: var(--imageBackgroundPosition, center);
    background-size: cover;
    /*background: var(--imageURL) center/cover;*/
    /*border: 2px red solid;*/
}

.divContainer {
    position: absolute;
    top: var(--textBlockPositionTop, 30%);
    left: var(--textBlockPositionLeft, 10%);
    text-align: var(--textBlockInternalAlignment, center);
    width: var(--textBlockWidth);
    /*margin: 0 auto;*/
    overflow: scroll;
}

.tagline {
    margin: var(--taglineMargin);
    font-size: var(--taglineFontSize);
    line-height: var(--taglineLineHeight);
    color: var(--taglineTextColor);
    background-color: var(--taglineBackgroundColor);
    letter-spacing: var(--taglineLetterSpacing);
    font-weight: var(--taglineFontWeight);
    font-style: var(--taglineFontStyle);
}

.title {
    margin: var(--titleMargin);
    font-size: var(--titleFontSize);
    line-height: var(--titleLineHeight);
    color: var(--titleTextColor);
    background-color: var(--titleBackgroundColor);
    letter-spacing: var(--titleLetterSpacing);
    font-weight: var(--titleFontWeight);
    font-style: var(--titleFontStyle);
}

.subtitle {
    margin: var(--subTitleMargin);
    font-size: var(--subTitleFontSize);
    line-height: var(--subTitleLineHeight);
    color: var(--subTitleTextColor);
    background-color: var(--subTitleBackgroundColor);
    letter-spacing: var(--subTitleLetterSpacing);
    font-weight: var(--subTitleFontWeight);
    font-style: var(--subTitleFontStyle);
}

.configurableButton {
    font-size: var(--buttonFontSize, 16px);
    font-style: var(--buttonFontStyle, normal);
    line-height: var(--buttonLineHeight, 1.5);
    height: var(--buttonHeight, 40px);
    padding: var(--buttonPadding);
    cursor: pointer;
    border-style: solid;
    margin: var(--buttonMargin, 0px);
    background-color: var(--buttonBackgroundColor, #00a3af);
    border-color: var(--buttonBorderColor, #00a3af);
    color: var(--buttonTextColor, #ffffff);
    border-radius: var(--buttonBorderRadius, 3px);
    letter-spacing: var(--buttonLetterSpacing);
}

.configurableButton2 {
    font-size: var(--button2FontSize, 16px);
    font-style: var(--button2FontStyle, normal);
    line-height: var(--button2LineHeight, 1.5);
    height: var(--button2Height, 40px);
    padding: var(--button2Padding);
    cursor: pointer;
    border-style: solid;
    margin: var(--button2Margin, 0px);
    background-color: var(--button2BackgroundColor, #00a3af);
    border-color: var(--button2BorderColor, #00a3af);
    color: var(--button2TextColor, #ffffff);
    border-radius: var(--button2BorderRadius, 3px);
    letter-spacing: var(--button2LetterSpacing);
}